@charset "UTF-8";
p {
	color: purple;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: rgba(80,200,120,1.00);
	padding: 20px;
}
h1, h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:Aqua;

}
span{color: rgba(7,19,241,1.00)}
body{background-image: url("Slike/sunset.jpg")
}
a:link{
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 25px;
	border: 1px solid #000000;

}
a:hover{
	background-color: darkgray
}
img {
  height: 200px
}
